<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form id="thisForm" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'automations', action:'Edit'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">_id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_id" placeholder="auto ID" readonly value="<%= automation._id %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_autoName" class="col-sm-2 col-form-label">autoName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_autoName" placeholder="auto Name" name="autoName" value="<%= automation.autoName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_permissID" class="col-sm-2 col-form-label">identifyID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_identifyID" placeholder="identify ID" name="identify" value="<%= automation.identifyID %>" >
            </div>
        </div>
        <div class="form-group row">
            <label for="input_timeZone" class="col-sm-2 col-form-label">timeZone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_timeZone" placeholder="timeZone" value="* * * * *" name="timeZone"  value="<%= automation.timeZone %>" >
            </div>
        </div>
        <div class="form-group row">
            <label for="input_trigger" class="col-sm-2 col-form-label">trigger</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="input_trigger" placeholder="trigger device ID" required name="trigger" value="<%= automation.trigger %>" >
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="input_trigger" placeholder="full ID" required name="triggerFunction[fullID]" value="<%= automation.triggerFunction.fullID %>" >
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input_trigger" placeholder="value" required name="triggerFunction[value]" value="<%= automation.triggerFunction.value %>" >
            </div>
        </div>
        <hr />
        <% for(x=0; x<3; x++) { %>
            <div class="form-group row">
                <label for="input_itemList" class="col-sm-2 col-form-label">action_deviceList</label>
                <% for(i=0; i<4; i++) { %>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input_deviceID" placeholder="device ID" name="action[<%= x %>][deviceList][][deviceID]" value="<%= automation.action[x].deviceList[i]?automation.action[x].deviceList[i].deviceID:'' %>">
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control input_level" placeholder="L" maxlength="1" size="1" name="action[<%= x %>][deviceList][][level]" value="<%= automation.action[x].deviceList[i]?automation.action[x].deviceList[i].level:'' %>">
                    </div>
                    <% if((i+1)%2 == 0) {%> <label for="input_itemList" class="col-sm-2 col-form-label"></label> <% }
                }%>
            </div>
            <div class="form-group row">
                <label for="input_itemList" class="col-sm-2 col-form-label">action_functionList</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control input_fullID" placeholder="full ID" name="action[<%= x %>][functionList][][fullID]" value="<%= automation.action[x].functionList[0]?automation.action[x].functionList[0].fullID:'' %>">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control input_value" placeholder="value" name="action[<%= x %>][functionList][][value]" value="<%= automation.action[x].functionList[0]?automation.action[x].functionList[0].value:'' %>">
                </div> |
                <div class="col-sm-2">
                    <input type="number" class="form-control input_fullID" placeholder="full ID" name="action[<%= x %>][functionList][][fullID]" value="<%= automation.action[x].functionList[1]?automation.action[x].functionList[1].fullID:'' %>">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control input_value" placeholder="value" name="action[<%= x %>][functionList][][value]" value="<%= automation.action[x].functionList[1]?automation.action[x].functionList[1].value:'' %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="input_itemList" class="col-sm-2 col-form-label">action_runAfter</label>
                <div class="col-sm-3">
                    <label class="custom-control custom-radio">
                      <input name="action[<%= x %>][RunAfter][enable]" type="radio" class="custom-control-input radio_runAfterEnable" name="action[<%= x %>][RunAfter][enable]" value="0" "<%= automation.action[x].runAfter.enable==0?'checked':'' %>">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">disable</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input name="action[<%= x %>][RunAfter][enable]" type="radio" class="custom-control-input radio_runAfterEnable" name="action[<%= x %>][RunAfter][enable]" value="1" "<%= automation.action[x].runAfter.enable==1?'checked':'' %>">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">enable</span>
                    </label>
                </div>
                <label for="input_delay" class="col-sm-1 col-form-label">delay</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="input_delay" placeholder="delay seconds" name="action[<%= x %>][RunAfter][delay]" value="<%= automation.action[x].runAfter.delay %>">
                </div>
            </div>
            <hr />
        <% } %>
        <div class="form-group row">
            <label for="input_push" class="col-sm-2 col-form-label">sceneID</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="scene" type="radio" class="custom-control-input" value="0" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Custom</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="scene" type="radio" class="custom-control-input" value="1">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Outdoor</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="scene" type="radio" class="custom-control-input" value="2">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Home</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="scene" type="radio" class="custom-control-input" value="3">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Sleep</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_push" class="col-sm-2 col-form-label">push</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="push" type="radio" class="custom-control-input" value="0" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">silence</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="push" type="radio" class="custom-control-input" value="1">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">push</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_enable" class="col-sm-2 col-form-label">enable</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="enable" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">disable</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="enable" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">enable</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-submit">Reset</button>
                <button type="submit" class="btn btn-primary btn-reset">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    // $('.input_deviceID').on('change', function(event){
    //     $(this).attr('name', 'action[][deviceList][][deviceID]')
    //     var a = $(this).parent().next().find('.input_level').attr('name', 'action[][deviceList][][value]')
    //     console.log('===========> '+JSON.stringify(a))
    // })
    // $('.input_level').on('change', function(event){
    //     $(this).attr('name', 'action[][deviceList][][level]')
    // })
    // $('.input_fullID').on('change', function(event){
    //     $(this).attr('name', 'action[][functionList][][fullID]')
    // })
    // $('.input_value').on('change', function(event){
    //     $(this).attr('name', 'action[][functionList][][value]')
    // })
    $('#thisForm').on('submit', function(event){
        event.preventDefault();
        var obj = $(this).serializeJSON({useIntKeysAsArrayIndex: true});
        var str = JSON.stringify(obj);
        console.log(str);
        $.post('/automationsAddSubmit', {data: str}, function(result) {
            location.href = "/automations";
        });
    })
</script>
