<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'clouds', action:'Edit'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">_id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_id" readonly value="<%= cloud._id %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_cloudName" class="col-sm-2 col-form-label">cloudName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_cloudName" placeholder="cloud Name" value="<%= cloud.cloudName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_mqttHost" class="col-sm-2 col-form-label">host</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_host" placeholder="mqtt Host" value="<%= cloud.host %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_mqttPort" class="col-sm-2 col-form-label">port</label>
            <div class="col-sm-10">
                <input type="Number" class="form-control" id="input_port" placeholder="mqtt Port" value="<%= cloud.port %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_mqttHost" class="col-sm-2 col-form-label">username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_username" placeholder="mqtt username" value="<%= cloud.username %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_mqttPort" class="col-sm-2 col-form-label">password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="input_password" placeholder="mqtt password" value="<%= cloud.password %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_active" class="col-sm-2 col-form-label">active</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input radio_active" value="0" <%= cloud.active==0?'checked':'' %>>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">inactive</span>
                </label>
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input radio_active" value="1" <%= cloud.active==1?'checked':'' %>>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">active</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_updatTime" class="col-sm-2 col-form-label">updateTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_updateTime" readonly value="<%= momentTimezone(cloud.updateTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_updatTime" class="col-sm-2 col-form-label">createTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_createTime" readonly value="<%= momentTimezone(cloud.updateTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-reset">Reset</button>
                <button type="submit" class="btn btn-primary btn-submit" formaction="/cloudsEditSubmit/<%= cloud._id %>">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    $('#input_cloudName').on("change", function(event) {
        $(this).attr('name','cloudName');
    })
    $('#input_host').on("change", function(event) {
        $(this).attr('name','host');
    })
    $('#input_port').on("change", function(event) {
        $(this).attr('name','port');
    })
    $('#input_username').on("change", function(event) {
        $(this).attr('name','username');
    })
    $('#input_password').on("change", function(event) {
        $(this).attr('name','password');
    })
    $('.radio_active').on("change", function(event) {
        $(this).attr('name','active');
    })
</script>
