<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container-fluid">
    <form method="get" enctype="multipart/form-data">
        <%- include('partials/breadcrumb_1', {db:'deviceInfo', url:'deviceInfoAdd'}) %>
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>_id</th>
                    <th>fullModelID</th>
                    <th>sfunctionList</th>
                    <th>dfunctionList</th>
                    <th>isAuto</th>
                    <th>isGroup</th>
                    <th>updateTime<br />
                        createTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% deviceInfoData.forEach((deviceInfo, cindex) => {  %>
                    <tr>
                        <th scope="row"><%= cindex+1 %></th>
                        <td><%= deviceInfo._id %></td>
                        <td><%= deviceInfo.fullModelID %></td>
                        <td><%  deviceInfo.sfunctionList.forEach((slist) => { %>
                                    <Span><%= slist.fullID %>: <%= slist.value %> | </Span>
                            <%}) %></td>
                        <td><%= deviceInfo.dfunctionList %></td>
                        <td><%= deviceInfo.isAuto %></td>
                        <td><%= deviceInfo.isGroup %></td>
                        <td><%= momentTimezone(deviceInfo.updateTime).tz('Asia/Taipei').format('lll') %><br />
                            <%= momentTimezone(deviceInfo.createTime).tz('Asia/Taipei').format('lll') %></td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-delete" formaction="/deviceInfoDelete/<%= deviceInfo._id %>">Delete</button>
                            <button type="submit" class="btn btn-info btn-edit" formaction="/deviceInfoEdit/<%= deviceInfo._id %>">Edit</button>
                            <button type="submit" class="btn btn-dark btn-add" formaction="/devicesMatch/<%= deviceInfo._id %>&<%= deviceInfo.fullModelID %>">Device</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
        <div class="contain-button pull-right">
            <button type="submit" class="btn btn-success btn-add" formaction="/deviceInfoAdd">Add</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
