<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container-fluid">
    <form method="get" enctype="multipart/form-data">
        <%- include('partials/breadcrumb_1', {db:'devices', url:'devicesAdd'}) %>
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>_id</th>
                    <th>deviceName</th>
                    <th>gatewayID<br />
                        cloudID</th>
                    <th>firmwareID<br />
                        fullModelID</th>
                    <th>functionList</th>
                    <th>owner</th>
                    <th>updateTime<br />
                        createTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% devicesData.forEach((device, cindex) => {  %>
                    <tr>
                        <th scope="row"><%= cindex+1 %></th>
                        <td><%= device._id %></td>
                        <td><%= device.deviceName %></td>
                        <td><%= device.gatewayID %><br />
                            <%= device.cloudID %></td>
                        <td><%= device.firmwareID %><br />
                            <%= device.fullModelID %></td>
                        <td><%  device.functionList.forEach((flist, index)=> { %>
                                <%= flist.fullID +' : '+ flist.value+' | ' %>
                                <% if((index+1)%3==0) { %><br /><% }
                                })%></td>
                        <td><%= device.owner %></td>
                        <td><%= momentTimezone(device.updateTime).tz('Asia/Taipei').format('lll') %><br />
                            <%= momentTimezone(device.createTime).tz('Asia/Taipei').format('lll') %></td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-delete" formaction="/devicesDelete/<%= device._id %>">Delete</button>
                            <button type="submit" class="btn btn-info btn-edit" formaction="/devicesEdit/<%= device._id %>">Edit</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
        <div class="contain-button pull-right">
            <button type="submit" class="btn btn-success btn-add" formaction="/devicesAdd">Add</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
