<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form id="thisForm" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'deviceInfo', action:'Add'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">_id</label>
            <div class="col-sm-20">
                <input type="text" class="form-control" id="input_id" name="_id" placeholder="firmware id">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_fullModelID" class="col-sm-2 col-form-label">fullModelID</label>
            <div class="col-sm-20">
                <input type="text" class="form-control" id="input_fullModelID" name="fullModelID" placeholder="full Model ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_sfunctionList" class="col-sm-2 col-form-label">sfunctionList</label>
            <%  var numList = [1,3,4,5,6,7,8,9,10,11,12,13]
                var textList = ['顯示圖示', '智慧連動Type', 'Slev', '觸發時間', '推播', 'Level1 情境Type', '裝置協議', '邏輯', '韌體版本', '韌體型號', '預設顯示名稱', 'RF ID']
                for(i=0; i<12; i++) { %>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="sfunctionList[][fullID]" value="<%= numList[i] %>" readonly>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="sfunctionList[][value]" placeholder="<%= textList[i] %>">
                    </div>
                    <% if((i+1)%3==0) { %>
                        <label for="input_fullID" class="col-sm-2 col-form-label"></label>
                    <%  }
                } %>
        </div>
        <div class="form-group row">
            <label for="input_itemList" class="col-sm-2 col-form-label">dfunctionList</label>
            <% for(i=0; i<20; i++) { %>
                <div class="col-sm-2">
                    <input type="text" class="form-control input_itemList" placeholder="full ID">
                </div>
                <% if((i+1)%5 == 0) { %>
                    <label for="input_itemList" class="col-sm-2 col-form-label"></label>
                <%}
            }%>
        </div>
        <div class="form-group row">
            <label for="input_isAuto" class="col-sm-2 col-form-label">isAuto</label>
            <div class="col-sm-20">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="isAuto" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">no</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="isAuto" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">yes</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_isGroup" class="col-sm-2 col-form-label">isGroup</label>
            <div class="col-sm-20">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="isGroup" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">no</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="isGroup" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">yes</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-reset">Reset</button>
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    $(".input_itemList").on("change", function(event) {
        $(this).attr("name","dfunctionList[]")
    })
    $("#thisForm").on("submit", function(event) {
        event.preventDefault();
        var obj = $(this).serializeJSON();
        var str = JSON.stringify(obj);
        console.log(str);
        $.post('/deviceInfoAddSubmit', {data: str}, function(result) {
            // console.log("group: %j ", result);
        });
    })
</script>
