<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'groups', action:'Edit'}) %>
        <div class="form-group row">
            <label for="input_groupName" class="col-sm-2 col-form-label">groupName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_groupName" placeholder="group Name" value="<%= group.groupName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_permissID" class="col-sm-2 col-form-label">permission ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_permissID" placeholder="permission ID" value="<%= group.permissID %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_deviceList" class="col-sm-2 col-form-label">action</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="device ID" value="<%= group.action[0].deviceID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="full ID" value="<%= group.action[0].function[0].fullID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="value" value="<%= group.action[0].function[0].value %>">
            </div>
            <label for="input_deviceList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="device ID" value="<%= group.action[1].deviceID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="full ID" value="<%= group.action[1].function[0].fullID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="value" value="<%= group.action[1].function[0].value %>">
            </div>
            <label for="input_deviceList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="device ID" value="<%= group.action[2].deviceID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="full ID" value="<%= group.action[2].function[0].fullID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="value" value="<%= group.action[2].function[0].value %>">
            </div>
            <label for="input_deviceList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="device ID" value="<%= group.action[3].deviceID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="full ID" value="<%= group.action[3].function[0].fullID %>">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="value" value="<%= group.action[3].function[0].value %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-submit">Reset</button>
                <button type="submit" class="btn btn-primary btn-reset" formaction="/groupsAddSubmit">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
