<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container-fluid">
    <form method="get" enctype="multipart/form-data">
        <%- include('partials/breadcrumb_1', {db:'groups', url:'groupsAdd'}) %>
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>_id</th>
                    <th>groupName</th>
                    <th>permissID</th>
                    <th>deviceID</th>
                    <th>function</th>
                    <th>updateTime<br />
                        createTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% groupsData.forEach((group, cindex) => {  %>
                    <tr>
                        <th scope="row"><%= cindex+1 %></th>
                        <td><%= group._id %></td>
                        <td><%= group.groupName %></td>
                        <td><%= group.permissID %></td>
                        <td><%= group.action.deviceID %></td>
                        <td><%= group.action.functionList %></td>
                        <td><%= momentTimezone(group.updateTime).tz('Asia/Taipei').format('lll') %><br />
                            <%= momentTimezone(group.createTime).tz('Asia/Taipei').format('lll') %></td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-delete" formaction="/groupsDelete/<%= group._id %>">Delete</button>
                            <button type="submit" class="btn btn-info btn-edit" formaction="/groupsEdit/<%= group._id %>">Edit</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
        <div class="contain-button pull-right">
            <button type="submit" class="btn btn-success btn-add" formaction="/groupsAdd">Add</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
