<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form action="" method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'identifies', action:'Add'}) %>
        <div class="form-group row">
            <label for="input_identifyName" class="col-sm-2 col-form-label">identifyName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_identifyName" name="identifyName" placeholder="identif Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_isnID" class="col-sm-2 col-form-label">snID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_snID" name="snID" placeholder="sn ID" required value="<%= snID %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_idGroupID" class="col-sm-2 col-form-label">idGroupID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_idGroupID" name="idGroupID" placeholder="identify Group ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_deviceList" class="col-sm-2 col-form-label">deviceList</label>
            <% for(i=0; i<12; i++) { %>
                <div class="col-sm-3">
                    <input type="text" class="form-control deviceList" placeholder="device ID">
                </div>
                <% if((i+1)%3 == 0) { %>
                    <label for="input_deviceList" class="col-sm-2 col-form-label"></label>
                <% }
            }%>
        </div>
        <div class="form-group row">
            <label for="input_active" class="col-sm-2 col-form-label">enable</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input id="radioStacked1" name="enable" type="radio" class="custom-control-input" value="0">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">disable</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radioStacked2" name="enable" type="radio" class="custom-control-input" value="1" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">enable</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-reset">Reset</button>
                <button type="submit" class="btn btn-primary btn-submit" formaction="/identifiesAddSubmit">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    $(".deviceList").on("change", function(event) {
        $(this).attr("name","deviceList")
    })
</script>
