<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container-fluid">
    <form action="" method="get" enctype="multipart/form-data">
        <%- include('partials/breadcrumb_1', {db:'identifyGroups', url:'identifyGroupsAdd'}) %>
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>_id</th>
                    <th>groupName</th>
                    <th>itemList</th>
                    <th>active</th>
                    <th>updateTime</th>
                    <th>createTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% identifyGroupsData.forEach((identifyGroup, cindex) => {  %>
                    <tr>
                        <th scope="row"><%= cindex+1 %></th>
                        <td><%= identifyGroup._id %></td>
                        <td><%= identifyGroup.groupName %></td>
                        <td><%= identifyGroup.itemList %></td>
                        <td><%= identifyGroup.enable %></td>
                        <td><%= identifyGroup.updateTime %></td>
                        <td><%= identifyGroup.createTime %></td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-delete">Delete</button>
                            <button type="submit" class="btn btn-info btn-edit">Edit</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
        <div class="contain-button pull-right">
            <button type="submit" class="btn btn-success btn-add" formaction="/identifyGroupsAdd">Add</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
