<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</div>

<%- include('partials/footer') %>
