<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container-fluid">
    <form method="get" enctype="multipart/form-data">
        <%- include('partials/breadcrumb_1', {db:'serialNumbers', url:'serialNumbersAdd'}) %>
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>_id</th>
                    <th>snKey</th>
                    <th>clientID</th>
                    <th>gatewayList</th>
                    <th>registTime</th>
                    <th>endTime</th>
                    <th>active</th>
                    <th>updateTime<br />
                        createTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% serialNumbersData.forEach((serialNumber, cindex) => {  %>
                    <tr>
                        <th scope="row"><%= cindex+1 %></th>
                        <td><%= serialNumber._id %></td>
                        <td><%= serialNumber.snKey %></td>
                        <td><%= serialNumber.clientID %></td>
                        <td><%= serialNumber.gatewayList %></td>
                        <td><%= serialNumber.registTime %></td>
                        <td><%= serialNumber.endTime %></td>
                        <td><%= serialNumber.active %></td>
                        <td><%= momentTimezone(parseInt(serialNumber.updateTime)).tz('Asia/Taipei').format('lll') %><br />
                            <%= momentTimezone(parseInt(serialNumber.createTime)).tz('Asia/Taipei').format('lll') %></td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-delete" formaction="/serialNumbersDelete/<%= serialNumber._id%>">Delete</button>
                            <button type="submit" class="btn btn-info btn-edit" formaction="/serialNumbersEdit/<%= serialNumber._id%>">Edit</button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
        <div class="contain-button pull-right">
            <button type="submit" class="btn btn-success btn-add" formaction="/serialNumbersAdd">Add</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
