<%- include('partials/head') %>
<!-- 引入 Nevigator 在 header  -->
<%- include('partials/header') %>
<div class="container">
    <form method="post" class="formOutline">
        <%- include('partials/breadcrumb_2', {db:'serialNumbers', action:'Edit'}) %>
        <div class="form-group row">
            <label for="input_id" class="col-sm-2 col-form-label">loginID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_id" readonly value="<%= serialNumber._id %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_snKey" class="col-sm-2 col-form-label">snKey</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_snKey" placeholder="serial Numbers Key" value="<%= serialNumber.snKey %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_clientID" class="col-sm-2 col-form-label">clientID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_clientID" placeholder="client ID" value="<%= serialNumber.clientID %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_gatewayList" class="col-sm-2 col-form-label">gatewayList</label>
            <% for(i=0; i<12; i++) { %>
                <div class="col-sm-3">
                    <input type="text" class="form-control gatewayList" placeholder="gateway ID" value="<%= serialNumber.gatewayList[i]?serialNumber.gatewayList[i]:"" %>">
                </div>
                <% if((i+1)%3 == 0) { %>
                    <label for="input_gatewayList" class="col-sm-2 col-form-label"></label>
                <% }
            }%>
        </div>
        <div class="form-group row">
            <label for="input_registTime" class="col-sm-2 col-form-label">registTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_registTime" placeholder="YYYY-MM-DD HH:MM:SS" value="<%= momentTimezone(serialNumber.registTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_endTime" class="col-sm-2 col-form-label">endTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_endTime" placeholder="YYYY-MM-DD HH:MM:SS" value="<%= momentTimezone(serialNumber.endTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_active" class="col-sm-2 col-form-label">active</label>
            <div class="col-sm-10">
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="0" <%= serialNumber.active=='0'?'checked':'' %>>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">inactive</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="active" type="radio" class="custom-control-input" value="1" <%= serialNumber.active=='1'?'checked':'' %>>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">active</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="input_updatTime" class="col-sm-2 col-form-label">updateTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_updateTime" readonly value="<%= momentTimezone(serialNumber.updateTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="input_updatTime" class="col-sm-2 col-form-label">createTime</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_createTime" readonly value="<%= momentTimezone(serialNumber.createTime).tz('Asia/Taipei').format('lll') %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <div class="offset-sm-9 col-sm-3">
                <button type="reset" class="btn btn-info btn-reset">Reset</button>
                <button type="submit" class="btn btn-primary btn-submit" formaction="/serialNumbersEditSubmit/<%= serialNumber._id %>">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    $("#input_snKey").on("change", function(event) {
        $(this).attr("name","snKey")
    })
    $("#input_clientID").on("change", function(event) {
        $(this).attr("name","clientID")
    })
    $(".gatewayList").on("change", function(event) {
        $(this).attr("name","gatewayList")
    })
    $("#input_registTime").on("change", function(event) {
        $(this).attr("name","registTime")
    })
    $("#input_endTime").on("change", function(event) {
        $(this).attr("name","endTime")
    })
</script>
